* {
  -webkit-user-select: none; /* Safari, Chrome, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

body{
    overflow-x:hidden !important;
    font-family: 'Lato', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

#cryptolist::-webkit-scrollbar {
  /* width: 3px !important; */
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #303030;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF595A;
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #CAC0B3;
  }

  #expiry:focus{
    outline:none !important;
  }

  #strike:focus{
    outline:none !important;
  }

  table{
    margin-left:auto;
    margin-right:auto;
    width: 120px !important;
  }
  #tooltipheader{
    color: #969696 !important;
  }

  #tooltiptable{
    margin-top: 4px;
  }
